@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto%20Slab:300,400,500,600,700);

p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
h1 {
	font-size: 65px;
	color: #2d3033;
}
h2 {
	font-size: 40px;
	color: #2d3033;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}
.btn {
	background-color: #009933;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 5px;
	border: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
}
.btn:hover, .btn:focus {
	background-color: rgba(0, 30, 0, 0.5);
	color: #fff;
}
.btn-large {
	padding: 15px 40px;
}
/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
a {
	color: #e84545;
}
a:hover, a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
}
body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #6c7279;
	height: 100%;
	margin: 0px;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.section {
	padding: 100px 0;
}
.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}
.space
{
	margin-top:60px;	
}
/* ------------------------------------------------------------------------------
	Banner
-------------------------------------------------------------------------------*/

.banner {
	background-color: #65349c;
	height: 100vh;
}
.banner-text {
	padding-top: 13%;
}
.banner-text h1 {
	color: #fff;
	font-family: "Roboto Slab", sans-serif;
	font-size: 80px;
	font-weight: 700;
}
.banner-text p {
	color: #fff;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 80px;
}

.skill{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 6px;
}

#skills, #subjects{
	padding-top: 6px;
	padding-bottom: 6px;
}
#skills:hover{
  	border: 2px ridge white;
}
#subjects:hover{
  	border: 2px ridge white;
}